fastapi
uvicorn
gunicorn
langchain
langchain-community
langchain-core
langchain-google-vertexai
langchain-groq
langchain-openai
langchain-robocorp
langchain-text-splitters
langsmith
langgraph
pgvector
psycopg2-binary
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anthropic
anyio
arxiv
async-timeout
asyncpg
attrs
backoff
beautifulsoup4
blockbuster
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
cryptography
curl_cffi
dataclasses-json
deepdiff
distro
docstring_parser
duckduckgo_search
emoji
feedparser
filelock
filetype
fireworks-ai
forbiddenfruit
frozenlist
fsspec
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
groq
grpc-google-iam-v1
grpcio
grpcio-status
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
jiter
jmespath
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema_rs
kay
langdetect
lxml
marshmallow
multidict
mypy_extensions
nltk
numpy
openai
orderly-set
orjson
ormsgpack
packaging
pdfminer.six
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
pypdf
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
PyYAML
RapidFuzz
regex
requests
requests-toolbelt
rsa
s3transfer
sgmllib3k
shapely
six
sniffio
socksio
soupsieve
SQLAlchemy
sqlite-vec
sse-starlette
starlette
structlog
tabulate
tenacity
tiktoken
tokenizers
tomli_w
tqdm
truststore
types-protobuf
types-requests
typing-inspect
typing-inspection
typing_extensions
unstructured
unstructured-client
urllib3
watchfiles
wikipedia
wrapt
xmltodict
xxhash
yarl
zstandard
Flask-Cors